#style-container
	min-width: 15rem
	max-height: 12rem
	padding: 1.5rem
	overflow-y: auto

	.property-container
		display: flex
		padding: .15rem 0 .15rem 1.5rem

		> span
			padding: 0 .3rem

		> .input
			border: 1px solid #8b8b8b
			border-radius: .2rem

		i
			display: flex
			align-items: center
			justify-content: center
			cursor: pointer
			margin-left: .5rem
			transition: color .2s
