#style-container
    min-width: 15rem
    padding: 1.5rem

    #properties-container
        padding-left: 1.5rem

        > span
            padding: 0 .3rem

        > .input
            border: 1px solid #8b8b8b
            border-radius: .2rem
