<div id="menu-button" (click)="toggleOpened()" [@inOutAnimation]>
	<div id="menu-button-lines-wrapper">
		<span></span>
		<span></span>
		<span></span>
	</div>
</div>
<div id="style-container" [style.transform]="findTransform()">
	<div>
		<select id="styled-div-select" [(ngModel)]="selectedDiv" (change)="updateDiv()">
			<option *ngFor="let styledDiv of styledDivs" [value]="styledDiv">{{styledDiv}}</option>
		</select>
		<span>.style {{'{'}}</span>
	</div>
	<div *ngFor="let style of styles" class="property-container">
	<span
		id="property-elem-{{style.index}}"
		class="input"
		contenteditable
		(input)="setProperty(style)">
	</span>
		<span class="symbol">:</span>
		<span
			id="value-elem-{{style.index}}"
			class="input"
			contenteditable
			(input)="setValue(style)">
	</span>
		<span class="symbol">;</span>
		<i
			class="fas fa-trash-alt"
			[ngClass]="{'disabled': checkDisabledTrash(style)}"
			(click)="removeStyleFromTrash(style)">
		</i>
	</div>
	<div>{{'}'}}</div>
</div>
