<div id="style-container" class="dark-background">
    <div>element.style {{'{'}}</div>
    <div *ngFor="let style of styles; let i = index" class="property-container">
        <span
            id="property-elem-{{i}}"
            class="input"
            contenteditable
            (input)="setProperty(i)"></span>
        <span class="symbol">:</span>
        <span
            id="value-elem-{{i}}"
            class="input"
            contenteditable
            (input)="setValue(i)"></span>
        <span class="symbol">;</span>
    </div>
    <div>{{'}'}}</div>
</div>
