<div id="style-container" class="dark-background">
    <div>element.style {{'{'}}</div>
    <div *ngFor="let style of styles" class="property-container">
        <span
            id="property-elem-{{style.index}}"
            class="input"
            contenteditable
            (input)="setProperty(style)">
        </span>
        <span class="symbol">:</span>
        <span
            id="value-elem-{{style.index}}"
            class="input"
            contenteditable
            (input)="setValue(style)">
        </span>
        <span class="symbol">;</span>
    </div>
    <div>{{'}'}}</div>
</div>
