<nav
	id="nav"
	[ngStyle]="palette.buildTranslucentStyles(navService.stickNav)">
	<div id="main-button">
		<div
			id="home-icon"
			class="button"
			(click)="selectSection(welcomeSection)">
			<img
				id="marco-icon"
				title="Marco icon"
				alt="Marco logo icon"
				src="assets/img/marcomartinezavila-logo.svg">
		</div>
	</div>
	<div id="main-section-buttons">
		<div
			class="button"
			[ngClass]="{'selected': checkSelectedSection(aboutSection)}"
			(click)="selectSection(aboutSection)">About</div>
		<div
			class="button"
			[ngClass]="{'selected': checkSelectedSection(skillsSection)}"
			(click)="selectSection(skillsSection)">Skills</div>
		<div
			class="button"
			[ngClass]="{'selected': checkSelectedSection(blogSection)}"
			(click)="navigateTo(blogUrl)">Blog</div>
	</div>
	<div class="menu-button" (click)="toggleOpened()" [class.opened]="opened">
		<div class="menu-button-lines-wrapper">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div id="color-selector-wrapper" (click)="togglePalette()" [@inOutAnimation]>
		<div id="color-selector">
			<div
				*ngFor="let palette of palettes; let i = index"
				[style.transform]="'translateX(' + findTranslatePaletteValue(i) + '%)'">
				<div [style.background-color]="palette.backgroundColor"></div>
				<div [style.background-color]="palette.color"></div>
			</div>
		</div>
	</div>
</nav>
<section
	id="mobile-menu-buttons"
	[class.show]="opened"
	[ngStyle]="palette.buildTranslucentStyles(navService.stickNav)">
	<div (click)="selectSection(aboutSection)">About</div>
	<div (click)="selectSection(skillsSection)">Skills</div>
	<div (click)="navigateTo(blogUrl)">Blog</div>
</section>
