<configuration>
    <if condition='property("micronaut.environments").matches("prod|sta")'>
        <then>
            <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <withJansi>false</withJansi>
                <file>logs/${System.getProperty('micronaut.environments')}/today.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>logs/${System.getProperty('micronaut.environments')}/log.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                    <maxHistory>30</maxHistory>
                    <totalSizeCap>50MB</totalSizeCap>
                </rollingPolicy>
                <encoder>
                    <pattern>{"date": "%d{yyyy-MM-dd HH:mm:ss.SSS}", "thread": "%thread", "level": "%level", "logger": "%logger{36}", "message": "%msg"}%n</pattern>
                </encoder>
            </appender>
        </then>
        <else>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <withJansi>false</withJansi>
                <encoder>
                    <pattern>'%yellow(%d{HH:mm:ss.SSS}) [%thread] %highlight(%-5level) %magenta(%-36logger{36}) - %msg%n'</pattern>
                </encoder>
            </appender>
        </else>
    </if>
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
