@import "variables"

@mixin flex-column
	display: flex
	flex-direction: column

@mixin flex-center
	display: flex
	align-items: center
	justify-content: center

@mixin flex-column-center
	@include flex-center
	flex-direction: column

@mixin flex-1
	flex: 1 0 0

@mixin button
	width: $button-width
	position: relative
	@include flex-center
	cursor: pointer

	&::before, &::after
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		border-radius: .2rem
		opacity: 0
		transition: opacity .3s, transform .3s

	&::before
		border-top: 1px solid $white
		border-bottom: 1px solid $white
		transform: scale(0, 1)

	&::after
		border-left: 1px solid $white
		border-right: 1px solid $white
		transform: scale(1, 0)

	&:hover

		&::before, &::after
			opacity: 1
			transform: scale(1)

	&.selected::before, &.selected::after
		opacity: 1
		transform: scale(1)

@mixin dark-background
	background-color: $black-alpha
	border-radius: $border-radius

@mixin ripple
	background-position: center
	transition: background .2s

	&:hover
		background: $primary radial-gradient(circle, transparent 1%, $primary 1%) center/15000%

	&:active
		background-color: $light-green
		background-size: 100%
		transition: background 0s
