<h3 class="section-title">#about</h3>
<div id="about-container-wrapper" [style.background-attachment]="user.backgroundAttachment">
	<div class="personal-image-container">
		<div>
			<img class="personal-image" src="../../../../assets/img/me-portrait.jpg">
		</div>
	</div>
	<div id="me-text">
		<h1>Hey there!</h1>
		<p>I'm Marco. <span class="bold">A (Telecommunications) engineer who found the dev world more interesting than waves and
		antennas</span>.
		</p>
		<p>I give almost no credit to university titles. I came to realize that what makes a developer a good one, is the
			attitude of just keeping learning and experimenting in the process of building something hopefully useful.
		</p>
		<p>An objective has not a direct and unique path. <span class="bold">Software development -as many other aspects in live-
		should not only be focused on the final goal</span>; on answering the question: does it work? <span class="bold">It
		should also take care of how it is done</span>. Is it legible? Is it scalable? Does it perform as it should?
			Does it follow the standards?
		</p>
		<p>Being curious and nonconformist made me understand <span class="bold">the importance of the journey to reach a destination,
		not only the final product. These qualities, among others, are what make a person improve everyday, every line
		of code</span>.
		</p>
		<div>
			<blockquote class="quote" cite="Dalinar Kholin, The Way of Kings - The Stormlight Archive">
				And so, does the destination matter? Or is it the path we take? I declare that no accomplishment has substance
				nearly as great as the road used to achieve it. We are not creatures of destinations. It is the journey that
				shapes us. Our callused feet, our backs strong from carrying the weight of our travels, our eyes open with the
				fresh delight of experiences lived.
			</blockquote>
		</div>
	</div>
</div>
