<!--<div class="menu-button" (click)="toggleOpened()" [@inOutAnimation]>-->
<!--	<div class="menu-button-lines-wrapper">-->
<!--		<span [style.background-color]="opened ? '#fff' : palette.darkTranslucidBackgroundColor"></span>-->
<!--		<span [style.background-color]="opened ? '#fff' : palette.darkTranslucidBackgroundColor"></span>-->
<!--		<span [style.background-color]="opened ? '#fff' : palette.darkTranslucidBackgroundColor"></span>-->
<!--	</div>-->
<!--</div>-->
<div id="style-container" [style.transform]="findTransform()" [ngStyle]="palette.buildTranslucentStyles()">
	<div>
		<select id="styled-div-select" [(ngModel)]="selectedDiv" (change)="updateDiv()">
			<option *ngFor="let styledDiv of styledDivs" [value]="styledDiv">{{styledDiv}}</option>
		</select>
		<span>.style {{'{'}}</span>
	</div>
	<div *ngFor="let style of styles" class="property-container">
	<span
		id="property-elem-{{style.index}}"
		class="input"
		contenteditable
		(input)="setProperty(style)">
	</span>
		<span class="symbol">:</span>
		<span
			id="value-elem-{{style.index}}"
			class="input"
			contenteditable
			(input)="setValue(style)">
	</span>
		<span class="symbol">;</span>
		<mat-icon
			class="delete-icon"
			[ngClass]="{'disabled': checkDisabledTrash(style)}"
			(click)="removeStyleFromTrash(style)">
			delete
		</mat-icon>
	</div>
	<div>{{'}'}}</div>
</div>
