@import "src/styles/abstracts/mixins"

\:host
	position: relative
	@include flex-column-center

	#skills-container
		display: grid
		grid-template-columns: repeat(1, minmax(300px, 350px))
		grid-gap: $default-gap

		.skill-cell
			position: relative
			@include flex-center

			.skill
				width: 100%
				padding-top: 100%
				position: relative
				text-align: center
				border-radius: $border-radius

				> div, > img
					transition: transform .2s, opacity .2s

					&::after
						transition: transform .2s, opacity .2s

				.skill-icon
					width: 30%
					position: absolute
					top: 50%
					left: 50%
					transform: translate3d(-50%, -50%, 0)

				.skill-title
					width: 100%
					position: absolute
					top: 50%
					left: 50%
					transform: translate3d(-50%, -50%, 0)
					font-size: 2em
					opacity: 0

					&::after
						content: ''
						width: 75%
						height: 1px
						position: absolute
						top: 100%
						left: 50%
						transform: translate3d(-50%, .5rem, 0) scale(0)
						background-color: #fff

				.skill-description
					position: absolute
					top: 80%
					padding: 0 .5rem
					transform: translate3d(0, 0, 0)
					opacity: 0

				&:hover

					.skill-icon
						transform: translate3d(-50%, calc(-50% - 5rem), 0)

					.skill-title
						transform: translate3d(-50%, calc(-50% + 1rem), 0)
						opacity: 1

					.skill-title::after
						transform: translate3d(-50%, .5rem, 0) scale(1)

					.skill-description
						transform: translate3d(0, -2rem, 0)
						opacity: 1

@media (min-width: 40rem)

	#skills-container
		grid-template-columns: repeat(3, minmax(300px, 350px)) !important

@media (min-width: 75rem)

	\:host
		padding: 0 $bigger-gap
		font-size: .9em

@media (min-width: 100rem)

	\:host
		padding: 0 $section-horizontal-padding !important
