@import "src/styles/abstracts/mixins"

\:host
	position: relative
	@include flex-column

	#about-container-wrapper
		width: 100%
		@include flex-column-center

		#me-image-container
			width: 75%
			max-width: 25rem
			margin-bottom: $small-gap

			> div
				position: relative
				padding-top: 100%

				#me-image
					width: 100%
					height: 100%
					position: absolute
					top: 0
					object-fit: cover
					border-radius: 50%
					border: 10px solid rgba(0, 0, 0, 0.3)

		#me-text
			@include flex-column

			& > *
				@include darkest-background
				padding: $small-gap

				&:not(:last-child)
					margin-bottom: $small-gap

			.bold
				font-weight: 600

			> div
				padding: .5rem

				&:not(:last-child)
					margin: .5rem 0

			.quote
				position: relative
				border-width: 1px 0
				border-style: solid
				border-color: #fff
				font-weight: 200
				padding: 1.5rem .5rem 3.8em
				margin: 1.5rem auto

				&::before
					content: '\201C'
					position: absolute
					top: 0
					left: 50%
					transform: translate3d(-50%, -50%, 0)
					background-color: #fff
					width: 2rem
					height: 2rem
					font: 5em/.95em 'PT Sans', sans-serif
					color: #0f172b
					text-align: center
					border-radius: .1rem

				&::after
					content: "\2013 \2003" attr(cite)
					position: absolute
					bottom: .5rem
					right: .5rem
					text-align: right
					font-size: 0.875em
					color: $quote

@media (min-width: 75rem)

	\:host
		margin: 0 !important

	#about-container-wrapper
		flex-direction: row !important
		justify-content: flex-end !important
		background-image: url('/assets/img/me-background.jpg')
		background-size: cover
		background-repeat: no-repeat

		#me-image-container
			display: none

		#me-text
			width: 60%
			padding: $default-gap

@media (min-width: 40rem)

	.quote
		padding-bottom: 1.8rem !important
