<div id="projects">
    <div id="projects-titles">
        <div
            class="dark-background"
            [ngClass]="{'selected': checkSelectedProject(zowiApp)}">
            ZowiApp
        </div>
        <div
            class="dark-background"
            [ngClass]="{'selected': checkSelectedProject(fallApp)}">
            FallApp
        </div>
        <div
            class="dark-background"
            [ngClass]="{'selected': checkSelectedProject(panel)}">
            Panel
        </div>
        <div
            class="dark-background"
            [ngClass]="{'selected': checkSelectedProject(schedules)}">
            Horarios
        </div>
    </div>
    <div id="projects-description" class="dark-background">

    </div>
</div>
