<nav
	id="nav"
	[ngStyle]="palette.buildTranslucentStyles()">
	<div id="main-button">
		<div
			id="home-icon"
			class="button"
			(click)="selectSection(welcomeSection, homeUrl)">
			<img
				id="marco-icon"
				title="Marco icon"
				alt="Marco logo icon"
				src="assets/img/marcomartinezavila-logo.svg">
		</div>
	</div>
	<div id="main-section-buttons">
		<div
			class="button"
			[ngClass]="{'selected': checkSelectedSection(aboutSection)}"
			(click)="selectSection(aboutSection, homeUrl)">About</div>
		<div
			class="button"
			[ngClass]="{'selected': checkSelectedSection(skillsSection)}"
			(click)="selectSection(skillsSection, homeUrl)">Skills</div>
		<div
			class="button"
			[ngClass]="{'selected': checkSelectedSection(blogSection)}"
			(click)="selectSection(blogSection, blogUrl)">Blog</div>
	</div>
	<div id="post-navigation" *ngIf="blogService.post(); let post">
		<span>&#62;</span>
		<markdown id="post-title">{{post.title}}</markdown>
	</div>
	<div class="menu-button-container">
		<div class="menu-button" (click)="toggleOpened()" [class.opened]="opened">
			<div class="icon-left" [style.background-color]="palette.textColor">
				<div class="icon-left-upper" [style.background-color]="palette.textColor"></div>
				<div class="icon-left-lower" [style.background-color]="palette.textColor"></div>
			</div>
			<div class="icon-right" [style.background-color]="palette.textColor">
				<div class="icon-right-upper" [style.background-color]="palette.textColor"></div>
				<div class="icon-right-lower" [style.background-color]="palette.textColor"></div>
			</div>
		</div>
	</div>
	<div id="color-selector-wrapper" (click)="togglePalette()" [@inOutAnimation]>
		<div id="color-selector">
			<div
				*ngFor="let palette of palettes; let i = index"
				[style.transform]="'translateX(' + findTranslatePaletteValue(i) + '%)'">
				<div [style.background-color]="palette.backgroundColor"></div>
				<div [style.background-color]="palette.primaryColor"></div>
			</div>
		</div>
	</div>
</nav>
<section
	id="mobile-menu-buttons"
	[class.show]="opened"
	[ngStyle]="palette.buildTranslucentStyles()">
	<div (click)="selectSection(aboutSection, homeUrl)">About</div>
	<div (click)="selectSection(skillsSection, homeUrl)">Skills</div>
	<div (click)="selectSection(blogSection, blogUrl)">Blog</div>
</section>
