@import "abstracts/variables"
@import "abstracts/mixins"

\:host
	//display: flex
	width: 100%
	height: $nav-height
	//position: relative
	border-radius: $border-radius $border-radius 0 0
	overflow: hidden
	transition: transform $ultra-fast-transition

	#nav
		width: auto
		height: 100%
		display: flex
		justify-content: center
		background-color: $black-alpha
		border-radius: $border-radius
		transition: background-color $medium-transition, width $medium-transition

		&.top
			background-color: $dark-primary
			width: 100% !important

		& > div
			@include button

			&::before
				border-radius: 0
				border-top: 0
				border-bottom: 1px solid $white
				transform: scale(0, 1)

			&::after
				border-left: 0
				border-right: 0

			&:hover

				&::before
					transform: scale(1)

			&.selected::before
				transform: scale(1)

	.mode
		position: absolute
		top: 50%
		left: 50%
		transform: translate3d(-50%, -50%, 0)
		opacity: 1
		transition: transform .3s, opacity .3s

		&.translate-up
			transform: translate3d(-50%, calc(-50% - 5rem), 0)
			opacity: 0

		&.translate-down
			transform: translate3d(-50%, calc(-50% + 5rem), 0)
			opacity: 0
