<div
	#scrollableContainer
	id="section-container"
	[ngStyle]="buildStyleObject()"
	(scroll)="handleScroll($event)">
	<div id="section-scrollable-container">
		<div #sectionElem id="welcome-container" class="section" [style.height.px]="screenHeight">
			<app-welcome
				#welcome
				[user]="user"
				(userEmitter)="setUser($event)">
			</app-welcome>
		</div>
		<app-about #sectionElem class="section"></app-about>
		<app-skills #sectionElem class="section"></app-skills>
		<app-blog #sectionElem class="section"></app-blog>
	</div>
</div>
<app-section-selector
	[user]="user.type"
	[stickTopNav]="stickTopNav"
	[section]="section"
	(sectionEmitter)="setSection($event)"
	[style.transform]="findNavTranslate()">
</app-section-selector>
