<div
    id="section-container"
    [ngStyle]="buildStyleObject()"
    (scroll)="handleScroll($event)">
    <div id="section-scrollable-container">
        <div id="welcome-container" class="section" [style.height.px]="screenHeight">
            <app-welcome
                #welcome
                [user]="user"
                (userEmitter)="setUser($event)">
            </app-welcome>
        </div>
        <app-about #about id="about" class="section" [style.height.px]="screenHeight"></app-about>
        <app-projects id="projects" class="section" [style.height.px]="screenHeight"></app-projects>
        <app-skills id="skills" class="section" [style.height.px]="screenHeight"></app-skills>
    </div>
</div>
<app-section-selector
    #sectionSelector
    [user]="user.type"
    [stickTopNav]="stickTopNav"
    (sectionEmitter)="setSection($event)"
    [style.transform]="findNavTranslate()">
</app-section-selector>
