<div
	id="nav-container"
	[class.pin]="!navService.transition"
	[style.transform]="findNavTranslate()">
	<nav
		id="nav"
		[style.width.px]="navWidth"
		[ngClass]="{'stick': navService.stickNav, 'blog': blog}"
		[ngStyle]="palette.buildTranslucentStyles(navService.stickNav)">
		<div
			class="button"
			[ngClass]="{'selected': checkSelectedSection(welcomeSection)}"
			(click)="selectSection(welcomeSection)">
			<i class="fas fa-home"></i>
		</div>
		<div *ngIf="blog; else sections" class="section-wrapper" [class.flex-1]="post">
			<div *ngIf="post">
				<div class="button" (click)="navigateTo(blogUrl)">Blog</div>
				<i class="fas fa-angle-right"></i>
				<markdown id="post-title">{{findSelectedPost().title}}</markdown>
			</div>
			<input id="filter" type="text" [(ngModel)]="filterText" placeholder="Search" (keyup)="search()">
		</div>
		<ng-template #sections>
			<div class="section-wrapper">
				<div
					class="button"
					[ngClass]="{'selected': checkSelectedSection(aboutSection)}"
					(click)="selectSection(aboutSection)">About</div>
				<div
					class="button"
					[ngClass]="{'selected': checkSelectedSection(skillsSection)}"
					(click)="selectSection(skillsSection)">Skills</div>
				<div
					class="button"
					[ngClass]="{'selected': blog || checkSelectedSection(blogSection)}"
					(click)="navigateTo(blogUrl)">Blog</div>
			</div>
		</ng-template>
		<div *ngIf="navService.stickNav" id="color-selector" (click)="togglePalette()" [@inOutAnimation]>
			<div
				*ngFor="let palette of palettes; let i = index"
				[style.transform]="'translateX(' + findTranslatePaletteValue(i) + '%)'">
				<div [style.background-color]="palette.backgroundColor"></div>
				<div [style.background-color]="palette.color"></div>
			</div>
		</div>
	</nav>
</div>
