<header>
	<div class="name">{{comment.name}}</div>
	<div class="date">{{findDate(comment.date) | date: 'dd/MM/yyyy HH:mm:ss'}}</div>
</header>
<div class="message">{{comment.message}}</div>
<div id="reply-action-container">
	<button mat-button *ngIf="!newComment" id="reply-button" (click)="openReplyForm()" [@inOutAnimation]>Reply</button>
	<div *ngIf="newComment">
		<button mat-mini-fab id="close-button" [ngStyle]="translucentStyles" (click)="closeForm()">
			<mat-icon>close</mat-icon>
		</button>
		<app-new-comment
			[postPath]="post.path"
			[parent]="comment"
			[translucentStyles]="translucentStyles"
			(newCommentEmitter)="closeForm()"
			[@inOutAnimation]>
		</app-new-comment>
	</div>
</div>
<div id="reply-container">
	<app-comment
		*ngFor="let reply of comment.replies"
		[post]="post"
		[comment]="reply"
		[reply]="true"
		[translucentStyles]="translucentStyles">
	</app-comment>
</div>
