@import "abstracts/mixins"

\:host
	height: 100%
	@include flex-column
	padding: $nav-height 0 0
	overflow-y: auto

	#header-image
		height: 40%
		object-fit: cover

	#post
		background-color: $white
		border-radius: $border-radius $border-radius 0 0

		&-header
			@include flex-column-center
			border-radius: $border-radius

		&-content
			padding: 0 1.5rem

@media (min-width: 75rem)

	#post
		margin: 0 $biggest-gap

		&-header
			position: relative
			top: -1.5rem
			background-color: $white

		&-content
			position: relative
			top: -1.5rem
