<div id="posts-container">
	<app-post-card class="dark-background"></app-post-card>
	<app-post-card class="dark-background"></app-post-card>
	<app-post-card class="dark-background"></app-post-card>
	<app-post-card class="dark-background"></app-post-card>
	<app-post-card class="dark-background"></app-post-card>
	<app-post-card class="dark-background"></app-post-card>
	<app-post-card class="dark-background"></app-post-card>
	<app-post-card class="dark-background"></app-post-card>
	<app-post-card class="dark-background"></app-post-card>
	<app-post-card class="dark-background"></app-post-card>
	<app-post-card class="dark-background"></app-post-card>
</div>
